@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

/* Global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

/* Fondo negro que cubre toda la pantalla */
.fondo_negro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: rgba(0, 0, 0, 0.9); /* Negro con leve transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mensaje dentro del fondo negro */
.mensaje_kerly {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); /* Leve fondo difuminado */
}
